nodered/flows.json
[{"id":"b1d55372.a704c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8c0a1552.509f28","type":"mqtt-broker","name":"localhost","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"55561ec8.4833","type":"mqtt in","z":"b1d55372.a704c","name":"","topic":"zigbee2mqtt/device/+","qos":"2","datatype":"json","broker":"8c0a1552.509f28","x":180,"y":400,"wires":[["bd85b6df.f85148"]]},{"id":"bd85b6df.f85148","type":"function","z":"b1d55372.a704c","name":"","func":"const device = msg.topic.split('zigbee2mqtt/device/')[1];\nreturn [ Object.keys(msg.payload).map(key => {\n    const value = msg.payload[key];\n    \n    return {\n        payload: `${device}/${key}= ${value}`\n    };\n}) ];","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":400,"wires":[["51f8089e.16f1d8"]]},{"id":"51f8089e.16f1d8","type":"udp out","z":"b1d55372.a704c","name":"","addr":"192.168.1.70","iface":"","port":"45454","ipv":"udp4","outport":"45454","base64":false,"multicast":"false","x":570,"y":420,"wires":[]},{"id":"e6bc34b2.14cb18","type":"udp in","z":"b1d55372.a704c","name":"","iface":"","port":"54545","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":100,"y":560,"wires":[["97b6cfe6.bd1dc"]]},{"id":"97b6cfe6.bd1dc","type":"function","z":"b1d55372.a704c","name":"","func":"const split = msg.payload.split('/');\nconst group = split[0];\nconst name = split[1];\nconst value = split[2];\n\nif (group === 'relay') {\n    const topic = `zigbee2mqtt/device/${name}/set`\n    return {\n        topic,\n        payload: {\n            state: value\n        }\n    }\n} else if (group === 'wifi_relay') {\n    const topic = `cmnd/${name}/POWER`;\n    return {\n        topic,\n        payload: value\n    };\n} else {\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":560,"wires":[["591cf73a.06de18"]]},{"id":"591cf73a.06de18","type":"mqtt out","z":"b1d55372.a704c","name":"","topic":"","qos":"","retain":"","broker":"8c0a1552.509f28","x":370,"y":560,"wires":[]},{"id":"b3a57e08.aa8fb","type":"mqtt in","z":"b1d55372.a704c","name":"","topic":"stat/+/POWER","qos":"2","datatype":"auto","broker":"8c0a1552.509f28","x":200,"y":440,"wires":[["1f783ca6.56ab23"]]},{"id":"1f783ca6.56ab23","type":"function","z":"b1d55372.a704c","name":"","func":"const device = msg.topic.split('stat/')[1];\nconst value = msg.payload\n\nreturn {\n    payload: `${device}= ${value}`\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":440,"wires":[["51f8089e.16f1d8"]]},{"id":"1677f588.3dce1a","type":"comment","z":"b1d55372.a704c","name":"Loxone adresa na vstupu","info":"","x":570,"y":380,"wires":[]},{"id":"2e72bddc.39bbd2","type":"comment","z":"b1d55372.a704c","name":"Port na kterém raspberry přijímá loxone příkazy","info":"","x":220,"y":520,"wires":[]}]