nodered/flows.json
[{"id":"b1d55372.a704c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8c0a1552.509f28","type":"mqtt-broker","name":"localhost","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a07346dd.749ed8","type":"inject","z":"b1d55372.a704c","name":"Enable","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":170,"y":60,"wires":[["304e8607.bf2b9a"]]},{"id":"8d1b82eb.82c12","type":"inject","z":"b1d55372.a704c","name":"Disable","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":190,"y":140,"wires":[["304e8607.bf2b9a"]]},{"id":"304e8607.bf2b9a","type":"mqtt out","z":"b1d55372.a704c","name":"","topic":"zigbee2mqtt/bridge/config/permit_join","qos":"","retain":"","broker":"8c0a1552.509f28","x":450,"y":100,"wires":[]},{"id":"7a0f138f.b3587c","type":"debug","z":"b1d55372.a704c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":350,"y":280,"wires":[]},{"id":"89a90d63.5c131","type":"mqtt in","z":"b1d55372.a704c","name":"logs","topic":"zigbee2mqtt/bridge/log","qos":"2","datatype":"auto","broker":"8c0a1552.509f28","x":170,"y":280,"wires":[["7a0f138f.b3587c"]]},{"id":"3e95d7cd.020278","type":"inject","z":"b1d55372.a704c","name":"Get device list","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":380,"wires":[["a4e3832a.cbf81"]]},{"id":"a4e3832a.cbf81","type":"mqtt out","z":"b1d55372.a704c","name":"","topic":"zigbee2mqtt/bridge/config/devices/get","qos":"","retain":"","broker":"8c0a1552.509f28","x":440,"y":380,"wires":[]},{"id":"89e04a83.b7f5e8","type":"inject","z":"b1d55372.a704c","name":"Rename","props":[{"p":"old","v":"0x00124b002242d5e0","vt":"str"},{"p":"new","v":"teplomer1","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":170,"y":460,"wires":[["20f944cf.b2b8fc"]]},{"id":"650e07e3.e3d338","type":"mqtt out","z":"b1d55372.a704c","name":"","topic":"zigbee2mqtt/bridge/config/rename","qos":"","retain":"","broker":"8c0a1552.509f28","x":600,"y":460,"wires":[]},{"id":"20f944cf.b2b8fc","type":"function","z":"b1d55372.a704c","name":"","func":"return { payload: { 'old': msg.old, 'new': msg.new } };","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":460,"wires":[["650e07e3.e3d338"]]},{"id":"c2f543dc.73fae","type":"inject","z":"b1d55372.a704c","name":"Remove","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0x00124b002242d5e0","payloadType":"str","x":160,"y":540,"wires":[["9a48ac29.9cfee"]]},{"id":"32a7df0a.2d5a3","type":"inject","z":"b1d55372.a704c","name":"Force remove","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0x00124b002242d5e0","payloadType":"str","x":170,"y":600,"wires":[["ce868120.7b7b9"]]},{"id":"9a48ac29.9cfee","type":"mqtt out","z":"b1d55372.a704c","name":"","topic":"zigbee2mqtt/bridge/config/remove","qos":"","retain":"","broker":"8c0a1552.509f28","x":400,"y":540,"wires":[]},{"id":"ce868120.7b7b9","type":"mqtt out","z":"b1d55372.a704c","name":"","topic":"zigbee2mqtt/bridge/config/force_remove","qos":"","retain":"","broker":"8c0a1552.509f28","x":420,"y":600,"wires":[]}]