nodered/flows.json
[{"id":"b1d55372.a704c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8c0a1552.509f28","type":"mqtt-broker","name":"localhost","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a07346dd.749ed8","type":"inject","z":"b1d55372.a704c","name":"Enable","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":200,"y":80,"wires":[["304e8607.bf2b9a"]]},{"id":"8d1b82eb.82c12","type":"inject","z":"b1d55372.a704c","name":"Disable","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":190,"y":140,"wires":[["304e8607.bf2b9a"]]},{"id":"304e8607.bf2b9a","type":"mqtt out","z":"b1d55372.a704c","name":"","topic":"zigbee2mqtt/bridge/config/permit_join","qos":"","retain":"","broker":"8c0a1552.509f28","x":450,"y":100,"wires":[]}]